<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
      <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/profil">Profil</a>
      <a mat-list-item routerLink="/gericht">Gerichte</a>
      <a mat-list-item routerLink="/vorrat">Vorrat</a>
      <a mat-list-item routerLink="/plan">Essensplan</a>
      <a mat-list-item routerLink="/myPlan">Mein Plan</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <span (click)="drawer.toggle()">Menu</span>
      <div class="ueberschrift"><a>Gerichte - App</a></div>
      <button mat-raised-button color="warn" (click)="logout()" class="outButton">Logout</button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
