<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">

  <mat-tab label="Meine Gerichte">
    <ng-template matTabContent>
      <app-gerichte-list [geladeneGerichte]="meineGerichte" [settings]="'meineGerichte'"></app-gerichte-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Alle Gerichte">
    <ng-template matTabContent>
       <app-gerichte-list [geladeneGerichte]="alleGerichte" [settings]="'alleGerichte'"></app-gerichte-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Gericht hinzufügen">
    <ng-template matTabContent>
      <app-add-gericht></app-add-gericht>
    </ng-template>
  </mat-tab>

</mat-tab-group>
